<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather Results</title>
    <link
      href="{{ url_for('static', filename='styles/styles.css')}}"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>Weather for {{ city }}</h1>
    <br> <!-- Correct line break -->

    {% if weather.error %}
      <p style="color: red"><strong>Error:</strong> {{ weather.error }}</p>
    {% else %}
    <div>
        <p><strong>Temperature:</strong> {{ weather.current.temp_c }} °F</p>
      <p><strong>Condition:</strong> {{ weather.current.condition.text }}</p>
      <p><strong>Feels Like:</strong> {{ weather.current.feelslike_c }} °F</p>
      <p><strong>Humidity:</strong> {{ weather.current.humidity }}%</p>
    </div>
    {% endif %}
  </body>
</html>
